/* You can add global styles to this file, and also import other style files */
.sample {
    border: 1px solid #aaa;
    padding: 10px;
}
.sample1 {
    background: #eee;
}
.sample2 {
    background: #ddd;
}
.sample3 {
    background: #ccc;
}
